/*----------------------------------------------------------------------------
layout.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Content
-----------------------------------------------------------------------------*/

.content {
    max-width: var(--site-width);
    margin: 0 auto;
}


/* Section
-----------------------------------------------------------------------------*/

.section {
    padding-bottom: var(--space-stack-xl);
    margin-bottom: var(--space-stack-xl);
}

.section__header {
    border-bottom: solid 1px var(--color-border);
    margin-bottom: var(--space-stack-xl);
}