*   {
    padding:0;
    margin:0;
    transition-duration: 0.233s; 
}
#box_links  {
    width:50%;
    height:50%;
    float:left;
    background-color:blue;
}
#box_rechts  {
    width:50%;
    height:50%;
    float:left;
    background-color: aqua;
}
#container  {
    width:80%;
    margin:0 auto;
}

@media (max-width:600px)    {
    #box_rechts{
        background-color:black;
    }