/* Basic Styles 
-----------------------------------------------------------------------------*/

html,
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: light;
}