h1, h2{
	font-family: 'Permanent Marker', cursive;
	margin-bottom: 2rem;
}

h1{ font-size: 3rem; }
h2{ font-size: 2.5rem; }
h3{ font-size: 1.5rem; }
h4{ font-size: 1.2rem; }
h5, h6{ font-size: 1.2rem; }

h2{
	margin-top: 3rem;
}