/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    background-color: var(--color-head);
    margin-bottom: var(--space-stack-xl);
}

.site-header__content {
    max-width: var(--site-width);
    margin: 0 auto;
}

.brand-logo {
    width: calc(var(--site-width)/10);
    padding-top: var(--space-stack-m);
    padding-bottom: var(--space-stack-xl);
    display: inline-block;
}


/* Navigation
-----------------------------------------------------------------------------*/

.nav {
    padding: 0;
    margin: 0;
    margin-top: var(--space-stack-xl);
}

.nav__item {
    display: block;
}

.nav__item a {
    text-decoration: none;
    color: #fff;
}

.nav__horizontal {
    padding-bottom: var(--space-stack-s);
}

.nav__horizontal .nav__item {
    display: inline-block;
    padding-right: var(--space-inset-xs);
}

.nav__horizontal .nav__item+.nav__item {
    border-left: solid 1px var(--color-border);
    padding-left: var(--space-inset-xs);
}


/* Staff
-----------------------------------------------------------------------------*/

.staff {
    padding-top: var(--space-stack-xl);
    padding-bottom: var(--space-stack-xl);
}

.staff .section__header {
    padding-bottom: var(--space-stack-xl);
}

.staff-overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--space-inset-m);
}

.staff__member {
    box-sizing: border-box;
    border: solid 1px var(--color-border);
    border-radius: 20px;
    margin-bottom: var(--space-stack-l);
    overflow: hidden;
}

.staff__member .text {
    padding: var(--space-inset-m);
}

.staff__member .title {
    font-size: var(--fs-l);
    text-align: center;
}

.staff__member .subtitle {
    font-size: var(--fs-m);
    text-align: center;
}

.staff__member .member__credo {
    color: var(--color-accent);
}

.staff__member .member__credo:before {
    content: "„";
    display: inline-block;
}

.staff__member .member__credo:after {
    content: "“";
}

.member__avatar {
    width: 100%;
    margin-bottom: var(--space-stack-s);
}