/* Basic Styles 
-----------------------------------------------------------------------------*/

html,
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: light;
}