/* Hero
-----------------------------------------------------------------------------*/

.hero {
    background-color: #9313ce;
    margin-bottom: 4rem;
}

.hero__content {
    font-weight: normal;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.hero__content .title,
.hero__content .subtitle {
    font-weight: lighter;
    letter-spacing: 2px;
    color: #fff;
}