/* Basic Resets 
-----------------------------------------------------------------------------*/

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


/* Figure Reset
-----------------------------------------------------------------------------*/

figure {
    margin: 0;
}


/* Image Reset 
-----------------------------------------------------------------------------*/

img {
    width: 100%;
}