/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    background-color: var(--color-head);
    margin-bottom: var(--space-stack-xl);
}

.site-header__content {
    max-width: var(--site-width);
    margin: 0 auto;
    text-align: center;
}

.brand-logo {
    width: calc(var(--site-width)/10);
    padding-top: var(--space-stack-m);
    padding-bottom: var(--space-stack-xl);
    display: inline-block;
}


/* Navigation
-----------------------------------------------------------------------------*/

.nav {
    padding: 0;
    margin: 0;
}

.nav__item {
    display: block;
}

.nav__item a {
    text-decoration: none;
    color: #fff;
}

.nav__horizontal {
    padding-bottom: var(--space-stack-s);
}

.nav__horizontal .nav__item {
    display: inline-block;
    padding-right: var(--space-inset-xs);
}

.nav__horizontal .nav__item+.nav__item {
    border-left: solid 1px var(--color-border);
    padding-left: var(--space-inset-xs);
}


/* Staff
-----------------------------------------------------------------------------*/

.staff {
    padding-top: var(--space-stack-xl);
}

.staff .section__header {
    padding-bottom: var(--space-stack-xl);
}

.staff__member {}

.staff__member+.staff__member {
    border-top: solid 1px var(--color-border);
    padding-top: var(--space-stack-xl);
    margin-top: var(--space-stack-xl);
}

.staff__member .title {
    font-size: var(--fs-l);
}

.staff__member .subtitle {
    font-size: var(--fs-m);
}

.staff__member p {
    margin-bottom: var(--space-stack-l);
}

.staff__member:after {
    /* content: "";
    display: block;
    clear: both;*/
}

.staff__member .member__avatar {
    box-sizing: border-box;
    line-height: 0;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    height: 50%;
    margin-right: var(--space-inset-l);
    width: 400px;
    float: left;
}

.staff__member .member__credo {
    box-sizing: border-box;
    font-size: var(--fs-m);
}

.staff__member .member__credo:before {
    content: "„";
    display: inline-block;
}

.staff__member .member__credo:after {
    content: "“";
}

.member__avatar img {
    border-radius: 50%;
}