/* Font Styles 
-----------------------------------------------------------------------------*/

html,
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


/* Image Reset 
-----------------------------------------------------------------------------*/

img {
    width: 100%;
}