*   {
    margin:0;
    padding:0;
}
h1  {
    text-align:center;
}
#container  {
    width:800px;
    margin:0 auto;
    background-color: lightgray;
    padding: 50px 20px;
    text-align: justify;
}