---
layout: default
---

<section class="section modulfacts">
	
	<div class="container">
		
		<div class="content">
			
			<div class="columns">
				<div class="column is-8"><h1>{{ page.titel }}</h1></div>
				<div class="column is-4 has-text-right">
					<!--a target="_blank" href="https://github.com/th-koeln/mi-bachelor-gdvk/edit/master/{{ page.path }}"><span class="icon"><i class="fa fa-edit"></i></span> Bearbeiten</a-->
				</div>
			</div>
			
			{% include /functions/resolve-types.html typ=page.typ %}

			<dl class="overview">
			
				{% assign check = page.dauer | strip_newlines %}
				{% if check != ""  %}
				<dt>Dauer</dt><dd>{{page.dauer}} min</dd>
				{% endif %}
				

				{% assign check = page.typ | strip_newlines %}
				{% if check != ""  %}
				<dt>Typ</dt><dd>{{typ-name}}</dd>
				
				{% capture teilnehmer %}{{typ-max-teilnehmer}} Teilnehmer{% endcapture %}

				{% if page.anzahl != "" and page.anzahl != nil %}
				{% assign teilnehmer = page.anzahl %}
				{% endif %}

				<dt>Maximale Teilnehmerzahl</dt><dd>{{teilnehmer}}</dd>
				{% endif %}
				
				{% include /functions/resolve-names.html verantwortlich=page.verantwortlich %}
				<dt>Verantwortlich</dt><dd>{{verantwortliche}}</dd>
				
				{% assign check = page.empfohlene-voraussetzungen | strip_newlines %}
				{% if check != ""  %}
				{% include /functions/resolve-voraussetzungen.html voraussetzungen=page.empfohlene-voraussetzungen %}
				<dt>Empfohlene Trainings und Workshops als Vorraussetzung</dt><dd>{{voraussetzungen}}</dd>
				{% endif %}
				
				{% assign check = page.info | strip_newlines %}
				{% if check != ""  %}
				<dt>Info</dt><dd>{{page.info}}</dd>
				{% endif %}


			</dl>
		</div>
	</div>
	
	<div class="modulbeschreibung">
		<div class="container">
			<div class="content">
				{% assign check = page.termine | strip_newlines %}
				{% if check != ""  %}
				<h2>Termine:</h2>
				{% include termine-auf-veranstaltungsseite.html termine=page.termine default-raum=page.raum %}
				{% endif %}
				
			{{ content }}
	  		</div>
		</div>
	</div>
</section>
