---
layout: default
---

<section class="section">
	<div class="container">
		<div class="content">
			<div class="columns">
				<div class="column is-8"><h1>{{ page.titel }}</h1>
				</div>
				<div class="column is-4 has-text-right">
					{% include reading-time.html %}
					<!--a target="_blank" href="https://github.com/th-koeln/mi-bachelor-gdvk/edit/master/{{ page.path }}"><span class="icon"><i class="fa fa-edit"></i></span> Bearbeiten</a-->
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container zweispalter">
		<div class="content">
		{{ content }}
  	</div>
	</div>
</section>
